
<ng-template #loading>
    <div class="alert alert-info text-center">
        Espere por por favor 
    </div>
</ng-template>




<div *ngIf="country; else loading" >

    <div class="row">
        <div class="col-12">
            <h2> Pais : <strong>{{country.name.common}}</strong></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img [src]="country.flags.svg" [alt]="country.name.common" class="img-thumbnail">
        </div>
    <div class="col">
        <h3> Informacion </h3>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>
                    Poblacion: 
                </strong>
                {{country.population | number}}
            </li>
            <li class="list-group-item">
                <strong> 
                    Código: 
                </strong>
                {{country.cca3}}
            </li>
        </ul>
    </div>
</div>

<div class="row mt-2">
    <div class="col">

      <h3>Traducciones</h3>

      <div class="d-flex flex-wrap">

        <span class="badge bg-primary m-1">{{ country.translations['ara'].common }}</span>
        <!-- <span class="badge bg-primary m-1">{{ country.translations['bre']?.common }}</span>
        <span class="badge bg-primary m-1">{{ country.translations['ces']?.common }}</span>
        <span class="badge bg-primary m-1">{{ country.translations['cym']?.common }}</span>
        <span class="badge bg-primary m-1">{{ country.translations['deu']?.common }}</span>
        <span class="badge bg-primary m-1">{{ country.translations['est']?.common }}</span>
        <span class="badge bg-primary m-1">{{ country.translations['fin']?.common }}</span>
        <span class="badge bg-primary m-1">{{ country.translations['ita']?.common }}</span>
        <span class="badge bg-primary m-1">{{ country.translations['kor']?.common }}</span>
        <span class="badge bg-primary m-1">{{ country.translations['per']?.common }}</span> -->

      </div>


    </div>
  </div>


</div>