<h2> 
    Por Región 👽 
</h2>
<hr>

    <div class="row">
        <div class="col text-center">

           <!-- <shared-search-box
           (onValue)="searchByRegion($event)" 
           placeholder="Buscar por Región..."></shared-search-box> -->
           <button *ngFor="let region of regions"
           class="btn mx-2"
           [ngClass]="{ 'btn-outline-primary': selectedRegion === region }"
           (click)="searchByRegion(region)" >
        {{region}}
        </button>
        </div>
    </div>

    <div class="row">
        <div class="col">
        <hr>
       <countries-table [countries]="countries"></countries-table>
        <!-- <ul>
            <li *ngFor="let country of countries">
              {{country.capital}} - {{country.population}}
            </li>
        </ul> -->
        </div>
    </div>