<h2> 
    Por Pais 😈
</h2>
<hr>

    <div class="row">
        <div class="col">

           <shared-search-box
           (onDebounce)="searchByCountry($event)" 
           [initialValue]="initialValue"
           placeholder="Buscar por Pais..."></shared-search-box>

        </div>
    </div>

    <div class="row">
        <div class="col">
        <hr>
       <countries-table [countries]="countries"></countries-table>
        <!-- <ul>
            <li *ngFor="let country of countries">
              {{country.capital}} - {{country.population}}
            </li>
        </ul> -->
        </div>
    </div>