<div class="row mt-4">
  <div class="col-3">
<shared-sidebar></shared-sidebar>
  </div>

  <div class="col">
    ROUTER
    <!-- <shared-home-page></shared-home-page>
    <shared-about-page></shared-about-page> -->
    <!--Depediendo de la ruta-->
    <router-outlet></router-outlet>
  </div>
</div>
