<h2> 
    Por capital ☠
</h2>
<hr>

    <div class="row">
        <div class="col">
            <!-- (onValue)="searchByCapital($event)"  -->
           <shared-search-box
          (onDebounce)="searchByCapital($event)"
          [initialValue]="initialValue"
           placeholder="Buscar por Capital..."></shared-search-box>

        </div>
    </div>

    <div class="row">
        <div class="col">
        <hr>
        <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
       <countries-table [countries]="countries"></countries-table>
        <!-- <ul>
            <li *ngFor="let country of countries">
              {{country.capital}} - {{country.population}}
            </li>
        </ul> -->
        </div>
    </div>